* {
    font-family: "Kaushan Script", cursive;
    font-weight: 500;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

#home {
    background-image: url(./images/main_img.jpeg);
    height: 80%;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* navbar */
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;  /* To create spacebetween child elements */
    background-color: beige;
    align-items: center;    /* To place child element vertically center */
}

#logo {
    width: 130px;
    height: 130px;
}

ul li {
    list-style: none;
    display: inline;
    margin: 10px 30px;
}

.link {
    text-decoration: none;  /* To remove underlines */
    color: black;
    font-weight: 700;
    font-size: 17px;
}

.link:hover {
    color: rgb(223, 8, 137);
}

.title_1 {
    margin-left: -30%;
    margin-top: -25px;
}

.title_1 h1 {
    font-size: 90px;
    font-weight: 500;
    margin-bottom: 15px;
}

.title_1 p {
    font-size: 50px;
    font-weight: 400;
    color: rgb(223, 8, 137);
}

.title_1 h1:hover {
    color: rgb(223, 8, 137);
}


/* about section */
#about {
    background-color: beige;
    height: 100%;
    width: 100%;
    position: relative;
}

#about h1 {
    font-family: "Kaushan Script", cursive;
    color: rgb(223, 8, 137);
    padding-top: 60px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.title_2a h3 {
    font-size: 40px;
    padding-top: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(223, 8, 137);
}

.title_2a p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(52, 50, 50);
    margin-left: 350px;
    width: 50%;
    text-align: center;
    justify-content: center;
}

.title_2a h3:hover {
    color: rgb(223, 8, 137);
}

.title_2b {
    position: relative; /* Add position relative to title_2b */
    width: 50%; /* Adjust the width as needed */
    z-index: 1; /* Set a higher z-index to make the text appear on top of the images */
}

.title_2b p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: gray;
    width: 60%;
    margin-top: 80px;
    margin-left: 250px;
    text-align: justify;
}

.title_2c p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: gray;
    width: 30%;
    margin-top: 30px;
    margin-left: 250px;
    text-align: justify;
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}

.imggroup {
    position: absolute;
    height: 75%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 2s;
}

.images:hover #shape1 {
    bottom: 70px;
}

.images:hover #shape2 {
    left: 40%;
}


/* Menu Section */
#menu {
    background-image: url('./images/main_img2.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    height: 100%;
    width: 100%;
}

#menu h1 {
    font-family: "Kaushan Script", cursive;
    color: rgb(223, 8, 137);
    padding-top: 60px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.div1 {
    width: 400px;
    height: 400px;
    background-color: rgba(81, 101, 46, 0.218);
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
}

.div1 a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.div1 h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.div1 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    border-radius: 10px;
}

.title_3 {
    display: flex;
}

button {
    background-color: rgba(0, 0, 0, 0.503);
    border: black;
    padding: 10px 25px;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    border-bottom: 10px;
    color: white;
}

button:hover{
    background-color: rgba(156, 30, 106, 0.793);
}

button a {
    color: white;
    text-decoration: none;
}


/* Branches Section */
#branches {
    background-image: url(./images/main_img_flip.jpeg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

#branches h1 {
    font-family: "Kaushan Script", cursive;
    color: rgb(223, 8, 137);
    padding-top: 60px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.branches_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2 {
    width: 300px;
    height: 200px;
    background-color: rgba(62, 56, 56, 0.559);
    border: 1px solid black;
    padding: 25px;
    margin: 30px;
    border-radius: 10px;
    text-align: center;
}

.div2 h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.div2 pre {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}


/* Contact Section */
#contact {
    background-image: url(./images/main_img3.jpg);
    background-size: cover;
    background-position: top;
    height: 105%;
    width: 100%;
}

.title_5 h1 {
    font-family: "Kaushan Script", cursive;
    color: rgb(223, 8, 137);
    padding-top: 60px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.786);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form textarea {
    resize: vertical;
}

.form ::placeholder{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#submit_btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    margin: 20px;
    padding: 17px;
    border-radius: 50px;
}

.icon:hover {
    background-image: linear-gradient(to bottom right, rgb(232, 182, 243), rgb(223, 8, 137));
    color: white;
}